/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  */

.noto-serif-nor {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* shared styles */

.btn {
  color: white;
  background-color: #e95a08;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 15px 50px 15px 50px;
  border: none;
  gap: 10px;
}

.display-flex {
  display: flex;
}

.text-black {
  color: #252432;
}

.text-asse {
  color: #8987a1;
}
.bg-color {
  color: rgb(137, 135, 161);
}

.text-orange {
  color: #e95a08;
}

/* header style */

/* navbar related style */

.navbar {
  justify-content: space-between;
  max-width: 1140px;
  align-items: center;
  margin: 0 auto;
}
nav img {
  margin-top: 10px;
}
.nav-item {
  list-style: none;
  margin-right: 48px;
  text-decoration: none;
}

.nav-links {
  margin-top: 50px;
}

.nav-link {
  text-decoration: none;
  width: 46px;
  font-weight: 700;
  color: #8987a1;
  margin-top: 35px;
}

/* banner pattern */

.banner-container {
  display: flex;
  max-width: 1140px;
  margin: 120px auto;
  align-items: end;
}

.banner-text h2 {
  font-size: 65px;
  font-weight: 700;
  text-align: left;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.banner-text p {
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

/* card selction  */

.card-section {
  max-width: 1140px;
  margin: 0 auto;
}

.card-title {
  flex-direction: column;
}

.card-title h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}
.card-title p {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  padding: 0 126px;
}

.cards img {
  max-width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
